*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    background-color: black;
    width: 100%;
    height: 50%;
}
.img1 img{
    width: 80px;
    height: 60px;
}
.nav{
    width: 80%;
    display: flex;
    
    justify-content: space-between;
    
    
}
  .option{
    
    text-align: end;
    padding-top: 10px;
    
 } 
.option a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding-right: 12px;;
    font-size: large;
    /* border-width: 20px; */
   
}
.option a:hover{
    background-color: white;
    border-radius: 20px 20px;
    color: black;
}
.border{
    border: 4px solid #18e418;
    border-radius: 20px 20px;
    padding: 10px 7px 7px 10px ;

}
.bore{
    border: 2px solid #18e418;
}
.section{
    background-color: gray;
    width: 100%;
    height: 50vh;
    display: flex;
    padding-top: 18px;
    padding-bottom: 20px;
}
.img2 img{
    width: 90%;
    height: 100%;
    border: 7px solid ;
    border-radius: 10px;

}
.img2{
    width: 50%;
    padding-left: 15%;
   
}
.para{
    width: 40%;
    font-size: x-large;
}
.inp a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #18e418;
    font-size: medium;
    padding: 10px 10px 10px 10px ;
    font-weight: bolder;

}
.inp a:hover{
    background-color: firebrick;
}